# Ignore directory containing temporary/working versions
temp/*

# Ignore VS Code LaTeX Workshop build directory contents
build/*

# Unignore preview images for repository documentation
!build/preview.png
!build/preview_dark.png